.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.timelineContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
}
