.container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  min-width: 100px;
  padding: var(--padding-sm);
  border: 2px black solid;
  gap: 0.5rem;
  border-radius: var(--border-radius-sm);
  background-color: white;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h6);
}
.logo {
  height: 40px;
  width: 40px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
