.companyBadge {
  display: flex;
  flex-direction: row;
  gap: 5px;

  &__icon {
    width: 30px;
    height: 30px;
  }
}

.companyBadge {
  color: white;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px;
  background-color: beige;

  &__openai {
    background-color: #089949;
  }

  &__anthropic {
    background-color: #f19113;
  }

  &__gemini {
    background-color: #8400c6;
  }

  &__meta {
    background-color: #107cdb;
  }

  &__deepseek {
    background-color: #1905ae;
  }

  &__xAI {
    background-color: #232323;
  }

  &__mistral {
    background-color: #7f5300;
  }
}

.modelContainerWrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100% !important;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 2px;
}

tr:hover {
  .openFullLLMButton {
    transition: all 0.3 ease;
    opacity: 1;
    visibility: visible;
  }
}

.modelContainer {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 2px;

  &__icon {
    width: 30px;
    height: 30px;
  }
}

.openFullLLMButton {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3 ease;
  background-color: white;
  box-shadow: inset 0 0 6px var(--primary-color);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-med);
  padding: 4px 8px;
  color: black;
  cursor: pointer;

  &:hover {
    transition: all 0.3 ease;
    box-shadow: 0 0 8px var(--primary-color);
  }
}

.documentationLink {
  border-radius: var(--border-radius-sm);
  font-weight: var(--font-weight-med);
  padding: 4px 8px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0 0 6px 1px rgb(0, 0, 0, 0.25);
  transition: all 300ms ease;

  &:hover {
    transition: all 300ms ease;
    background-color: white;
    color: black;
  }
}

.modalitiesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  word-wrap: normal;
  gap: 0.5rem;
  align-items: flex-end;
}

.modalityDefault {
  display: flex;
  min-width: 90px;
  width: fit-content;
  flex-shrink: 0;
  gap: .5rem;
  color: white;
  align-items: center;
  background-color: gray;
  padding: 8px;
  border-radius: var(--border-radius-sm);

  &__audio {
    background-color: #05447a;
  }

  &__image {
    background-color: #058080;
  }

  &__text {
    background-color: #088e03;
  }

  &__video {
    background-color: #684274;
  }

  &__icon {
    color: white;
    width: 25px;
    height: 25px;
  }
}

.bestForContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  gap: .5rem;
}

.bestForDefault {
  display: flex;
  min-width: 90px;
  width: fit-content;
  flex-shrink: 0;
  gap: .5rem;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 8px;
  border-radius: var(--border-radius-sm);

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__coding {
    background-color: #684274;
  }

  &__writing {
    background-color: #088e03;
  }

  &__researchAnalysis {
    background-color: #107cdb;
  }

  &__brainstorming {
    background-color: #058080;
  }

  &__productivity {
    background-color: #f19113;
  }

  &__lifestyle {
    background-color: #f2223a;
  }

  &__cooking {
    background-color: #ecbe4f;
  }

  &__generalKnowledge {
    background-color: #2d802c;
  }

  &__organizing {
    background-color: #1905ae;
  }

  &__imageGeneration {
    background-color: #079e92;
  }
}
