.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
}

.heroSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__heading {
    color: var(--primary-color);
    padding-bottom: .5rem;
  }

  &__description {
    display: flex;
    width: 50%;
    background-color: beige;
    border-radius: var(--border-radius-sm);
    padding: var(--padding-sm);
    height: fit-content;
  }

  &__highlightedText {
    text-decoration: underline wavy rgb(0, 0, 0);
      text-decoration-thickness: 3px;
      text-underline-offset: 6px;
  }
}

