.container {
  display: flex;
  width: fit-content;
  height: fit-content;
  font-weight: var(--font-weight-med);
  font-size: var(--font-size-body-2);
  transition: all 0.3s ease;
}

.container:hover {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
