.container {
    display: flex;
    min-width: 200px;
    width: fit-content;
    height: 100%;
    max-height: 70%;
    background-color: white;
    border-width: 2px;
    border-radius: var(--border-radius-sm);
    padding: var(--padding-sm);
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-body-1);
    transition: color 300ms ease;
}
.container:hover {
    color: var(--primary-color);
    transition: color 300ms ease;
}
