.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);
  cursor: pointer;
}

.topLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 0.5rem;
}

.description {
  display: -webkit-box;
  flex-direction: row;
  -webkit-line-clamp: 3;
  line-height: 16px;
  max-height: 48px;
  -webkit-box-orient: vertical;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalBackdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0.5);
}

.modalContainer {
  position: fixed;
  top: 40%;
  left: 50%;
  translate: (-50%, -40%);
  border-width: 2px;
  border-color: black;
  background-color: white;
  padding: var(--padding-md);
  border-radius: var(--border-radius-sm);
  z-index: 10;

  &__topLayout {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    height: fit-content;
  }

  &__icon{
    width: 50px;
    height: 50px;
  }

  &__headline {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
  }

  &__date {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-med);
  }

  &__impact {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-med);
  }

  &__description {
    display: flex;
    width: 100%;
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-reg);
  }

  &__viewFullButton {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: var(--padding-md);
  }
}
