.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  background-color: wheat;
  white-space: nowrap;
  border-radius: var(--border-radius-sm);
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.timelineWrapper {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 570px;
  height: auto;
  transition: all 1s;
  overflow-x: auto;
  overflow-y: visible;
  align-items: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  background-color: antiquewhite;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--border-radius-sm);
}

.noCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;

  &__headline {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
  }

  &__resetButton {
    width: 250px;
    padding: var(--padding-sm);
    background-color: white;
    transition: 400ms all ease;
    border-radius: var(--padding-sm);
    cursor: pointer;
  }

  &__resetButton:hover {
    transition: 400ms all ease;
    color: white;
    background-color: var(--primary-color);
  }
}

.functionsContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: fit-content;
  height: fit-content;
}

.cardWrapper {
  position: relative;
  display: inline-block;
  width: 450px;
  height: 10px;
  background-color: rgb(211, 211, 211);
  // box-shadow: 0 0 5px 1px rgba(0,0,0.15);
  scroll-snap-align: start;
  transition: background-color 300ms ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--fill-percentage, 0%); // start at 0% width
    height: 100%;
    background: linear-gradient(to right, #16fffb, #00e171);
    box-shadow: inset 0px 0px 8px rgba(21, 0, 181, 0.8);
    transition: 0.3s linear;
    z-index: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

.cardWrapper:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.timelineCard {
  position: relative;
  left: calc(25% - 4px);
  padding: 1rem;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  transition: all 300ms ease;
}

.timelineCardActive {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

/* Timeline Point Except for Last Component */
.cardWrapper:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% - 4px);
  bottom: 0;
  width: 28px;
  height: 28px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(147, 147, 147);
  box-shadow: inset 0 0 10px 6px rgba(2, 0, 127, 0.8);
  z-index: 1;
  margin-right: -24px;
}

.timelineTail {
  width: 300px !important;
  flex-shrink: 0;
  background-color: rgb(211, 211, 211);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

// /* Card Tail */
// .timelineCard::before {
//   content: '';
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 0;
//   height: 0;
//   border-width: 16px 16px 0 0;
//   border-color: var(--white) transparent transparent transparent;
// }

/* Cards Above Timeline */
.cardWrapper:nth-child(odd) .timelineCard {
  top: -28px;
  transform: translateY(-100%);
  border-radius: 10px 10px 0 0;
}

.cardWrapper:nth-child(odd) .timelineCard:hover {
  transform: translateY(-100%) scale(1.05);
  transition: all 300ms ease;
}

.cardWrapper:nth-child(even) .timelineCard {
  top: calc(100% + 28px);
  border-radius: 0 0 10px 10px;
}

.cardWrapper:nth-child(even) .timelineCard:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
}
