.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  background-color: wheat;
  white-space: nowrap;
  border-radius: var(--border-radius-sm);
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.timelineWrapper {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 600px;
  height: auto;
  transition: all 1s;
  overflow-x: auto;
  overflow-y: visible;
  align-items: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  background-color: antiquewhite;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--border-radius-sm);
}

.cardWrapper {
  position: relative;
  display: inline-block;
  width: 450px;
  height: 10px;
  background-color: rgb(211, 211, 211);
  // box-shadow: 0 0 5px 1px rgba(0,0,0.15);
  scroll-snap-align: start;
}

.cardWrapper:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.timelineCard {
  position: relative;
  left: calc(50% + 16px);
  padding: 1rem;
  width: 400px;
  height: 200px;
  border-radius: 0 10px 10px 10px;
}

/* Timeline Point Except for Last Component */
.cardWrapper:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 16px);
  bottom: 0;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(0, 183, 167);
  z-index: 1;
  margin-right: -24px;
}

.timelineTail {
  width: 300px !important;
  flex-shrink: 0;
  background-color: rgb(211, 211, 211);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

// /* Card Tail */
// .timelineCard::before {
//   content: '';
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 0;
//   height: 0;
//   border-width: 16px 16px 0 0;
//   border-color: var(--white) transparent transparent transparent;
// }

/* Cards Above Timeline */
.cardWrapper:nth-child(odd) .timelineCard {
  top: -28px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}

.cardWrapper:nth-child(even) .timelineCard {
  top: calc(100% + 28px);
  border-radius: 0 10px 10px 10px;
}

.cardWrapper:nth-child(even) ::before {
  top: -10px;
  border-width: 16px 0px 0px 16px;
  border-color: transparent transparent transparent var(--white);
}
