.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: var(--border-radius-ms);
  margin: 0 10px;
}

.tableHeader {
  border-style: solid;
}

.tableHead {
  width: fit-content;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);
  border-color: var(--primary-color);
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-semi-bold);
  transition: all 300ms ease;
}

.tableHead:hover {
  transition: all 300ms ease;
  background-color: #d1d1d1;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.tableBody {
  width: fit-content;
}

.tableRow {
  width: fit-content;
}

.tableCell {
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-color: rgb(65, 65, 65);
  padding: var(--padding-sm);
  word-wrap: break-word;
  word-break: break-word;
  vertical-align: top;
  white-space: normal;
  height: fit-content;
  transition: all 300ms ease;
  font-family: var(--font-geist-mono);

  &:hover {
    background-color: var(--primary-color);
    color: white;
    font-weight: var(--font-weight-semi-bold);
  }
}

.nothingToDisplayCell {
  border: none;
  padding: 0;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 10rem;
}

.nothingToDisplayContainer {
  display: flex;
  width: 100%;
  flex: 1;
  height: fit-content;
  flex-direction: column;
  gap: 1rem;
}

.nothingToDisplay {
  display: flex;
  height: fit-content;
  width: fit-content;
  font-weight: var(--font-weight-bold);
  color: var(--primary-color-dark);
}
.resetAllFiltersButton {
  display: flex;
  background-color: white;
  border: 2px solid var(--primary-color);
  color: var(--primary-color-dark);
  padding: var(--padding-md);
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-semi-bold);
  border-radius: var(--border-radius-sm);
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-lg);
    color: white;
  }
}
