.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
}

.container::-webkit-scrollbar {
    height: 100px;
}

.container::-webkit-scrollbar-track {
    background-color: aqua;
    border-radius: var(--border-radius-ms);
    margin: 0 10px;
}

.container::-webkit-scrollbar-thumb { 
    background-color: aqua;
    border-radius: var(--border-radius-ms);
    margin: 0 10px;    
}

.container 

.tableHeader {
    border-style: solid;
    padding-bottom: 20px;
}

.tableHead {
    width: 200px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-radius: var(--border-radius-sm);
    padding: var(--padding-sm);
    border-color: var(--primary-color);}

.tableBody {
    width: fit-content;
}

.tableRow {
    width: fit-content;
}

.tableCell {
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-color:rgb(72, 72, 72);
    padding: var(--padding-sm);
}
