.container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-width: 250px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);
  border: 2px solid black;
}

.topContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-bottom: 1rem;

  &__title {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-bold);
  }
}

.subHeadline {
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-bold);
}

.input {
  width: 100%;
  padding: var(--padding-sm);
  border: 2px solid black;
  border-radius: var(--border-radius-sm);
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.applyButton {
  display: flex;
  background-color: white;
  border-radius: var(--border-radius-sm);
  border: 2px solid black;
  padding: var(--padding-sm);
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    background-color: rgb(205, 205, 205);
  }
}

.option {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-sm);
  font-weight: var(--font-weight-med);
  font-size: var(--font-size-body-2);
  background-color: white;
  transition: all 0.3s ease;
  border-radius: var(--border-radius-sm);
  cursor: pointer;

  &__selected {
    background-color: aqua;
  }

  &:hover {
    transition: all 0.3s ease;
    background-color: rgb(205, 205, 205);
  }

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__label {
    font-weight: var(--font-weight-med);
    font-size: var(--font-size-body-2);
  }
}
