.container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: fit-content;
  background-color: white;
  border: 2px solid black;
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);
  z-index: 100;
}

.panelTitle {
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-semi-bold);
}

.filterItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sm);
  background: white;
  border: 2px solid black;
  border-radius: var(--border-radius-sm);
  transition: all 0.3s ease;

  &__label {
    color: black;
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-semi-bold);
  }

  &__removeButton {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: var(--border-radius-md);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transition: all 0.3s ease;
      background-color: #c9c9c9;
    }
  }
}

.filterDetails {
  display: flex;
  width: 80%;
  background-color: beige;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  flex: 1;
}

.addFilterButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--padding-sm);
  background: white;
  border: 2px solid #3d3d3d;
  border-radius: var(--border-radius-sm);
  color: black;
  font-size: var(--font-size-body-2);
  cursor: pointer;
  transition: all 0.4s ease;
  gap: 0.3rem;

  &:hover {
    transition: all 0.4s ease;
    background-color: #c9c9c9;
  }

  &__icon {
    width: 25px;
    height: 25px;
  }
}

.selectDropdownContainer {
  position: absolute;
  top: calc(0%);
  left: 0;
  z-index: 100;
}

.comingSoonTitle {
  font-weight: var(--font-weight-bold);
  text-align: center;
}
