@import 'tailwindcss';

:root {
  --background-primary: #ffffff;
  --foreground-primary: #000000;

  /* Colors */
  --primary-color: #24bca0;
  --secondary-color: #0621a9;
  --neutral-dark: #32614f;
  --gray-color: rgb(149, 149, 149);
  --subHeadline-color: rgb(50,50,50);
  --skeleton-bg: #e5e5e5;

  /* Font Sizes */
  --font-size-base: 16px;

  --font-size-h1: 52px;
  --font-size-h2: 46px;
  --font-size-h3: 40px;
  --font-size-h4: 34px;
  --font-size-h5: 28px;
  --font-size-h6: 22px;
  --font-size-body-1: 18px;
  --font-size-body-2: 16px;
  --font-size-body-3: 14px;
  --font-size-body-4: 12px;

  /* Font Weights */
  --font-weight-reg: 400;
  --font-weight-med: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Border Radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-skeleton-sm: 4px;
  --border-radius-skeleton-md: 8px;
  --border-radius-skeleton-lg: 12px;

  /* Padding */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

* {
  padding: 0;
  margin: 0;
}
html,
body {
  background: var(--background-primary);
  color: var(--foreground-primary);
  font-family: var(--font-geist-mono);
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}

h5 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
}

h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
}

.rootContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.mainContainer {
  flex-grow: 1;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .rootContainer {
    padding: 0.5rem;
  }
}
